// app global css in SCSS form
.cropper {
    height: 400px;
    width: 400px;
}

.menu-footer-dark {
    background-color: $dark;
}
.menu-footer-light {
    background-color: white;
}

.sticky-header-table.fullscreen {
    thead tr th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
    }

    &.q-table--dark thead tr th {
        background-color: var(--q-dark);
    }
}